<div class="d-flex justify-content-center align-items-center my-auto h-75 vh-75">
  <div class="flex align-content-center flex-wrap">
    <h1>
      Oops!</h1>
    <h2>
      404 Not Found</h2>
    <div class="my-2">
      Sorry, an error has occured, Requested page not found!
    </div>
    <div class="my-5">
      <%= link_to "Back to Sign In", root_path, class: "btn btn-primary btn-md" %>
    </div>
  </div>
</div>
